<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Bible Project</title>
<script type="text/javascript" th:src="@{/js/cookie.js}"></script>
<th:block layout:fragment="script">
	
	<th:block>
		<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<section>
			<form role="form" action="/members/login" method="post">
				<div class="section_content">
					<div class="section_content_box container">
						<div class="hstack mt-5">
							<div class="m-1">
								<h3 class="mt-3 mb-3">로그인</h3>
							</div>
						</div>
						<div class="bible_read hstack border rounded-3">
							<div class="mx-auto w-75 my-5">
								<div class="mb-3">
									<label th:for="email" class="form-label">이메일</label> <input
										type="email" name="email" id="email" class="form-control"
										placeholder="이메일을 입력해주세요" />
								</div>
								<div class="mb-3">
									<label th:for="password" class="form-label">비밀번호</label> <input
										type="password" name="password" id="password" class="form-control"
										placeholder="비밀번호를 입력해주세요" />
								</div>
								<div>
									<p th:if="${loginErrorMsg}" class="error"
										th:text="${loginErrorMsg}"></p>
									<label><input type="checkbox" name="id_save"
										id="id_save" />아이디 기억</label>
								</div>
								<div class="hstack">
							<button type="button"
								class="btn btn-outline-secondary ms-auto my-3" onClick="location.href='/members/sign'">회원가입-></button>
							<button type="submit"
								class="btn btn-outline-secondary mx-3 my-3" id="loginbtn">로그인-></button>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}">
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>
	</div>
</body>
</html>