<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Bible Project</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<section>
			<div class="section_content">
				<div class="section_content_box container">
					<div class="hstack mt-5">
						<div class="m-1">
							<h3 class="mt-3 mb-3">묵상노트</h3>
						</div>
					</div>
					<div class="bible_read hstack border rounded-3">
						<div class="mx-auto my-5 p-5">
							<div>
								<table class="table mt-5">
									<thead>
										<tr>
											<th scope="col">글번호</th>
											<th scope="col">본문말씀</th>
											<th scope="col">글제목</th>
											<th scope="col">작성날짜</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="post, status: ${postList}">
											<th th:text="${status.index+1}" scope="row"></th>
											<td th:text="${post.bible_contents}" style="width:50%;"></td>
											<td><a th:href="'/post/view/'+${post.post_id}"
												th:text="${post.title}"></a></td>
											<td th:text="${post.regDate}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>