<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<meta charset="UTF-8">
<title>Bible Project</title>
<script type="text/javascript" th:src="@{/js/cookie.js}"></script>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<th:block layout:fragment="script">
	<script th:inline="javascript">
	
		window.onload = function() {
			const textarea = document.querySelector("textarea");
			textarea.style.height = textarea.scrollHeight + "px";
		}

		function deletePost(post_id) {
			const deleteConf = confirm("삭제하시겠습니까?");

			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			var url = "/post/view/" + post_id + "/delete";

			var paramData = {
				itemId : $("#post_id").val()
			};

			var param = JSON.stringify(paramData);

			$.ajax({
				url : url,
				type : "DELETE",
				contentType : "application/json",
				data : param,
				beforeSend : function(xhr) {
					/* 데이터 전송 전에 header에 csrf 값을 설정 */
					xhr.setRequestHeader(header, token);
				},
				dataType : "json",
				cache : false,
				success : function(result, status) {
					alert("게시글이 삭제 되었습니다.");
					location.href = '/post/board';
				},
				error : function(jqXHR, status, error) { //에러 3가지를 받을 수 있음
					if (jqXHR.status == '401') {
						alert('로그인 후 이용하시오.');
						location.href = 'member/memberLogin';
					} else {
						alert(jqXHR.responseText);
					}
				}
			});

		}
	</script>
</th:block>
<body>
	<div layout:fragment="content">
		<section>
			<div class="section_content my-5">
				<form class="section_content_box container"
					th:object="${postFormDto}" method="post">
					<div class="hstack mt-5">
						<div class="m-1">
							<h3 class="mt-3 mb-3">묵상하기</h3>
						</div>
					</div>
					<div class="bible_read hstack border rounded-3">
						<div class="mx-auto w-75 my-5">
							<input type="hidden" th:field="*{id}" />
							<div class="mb-3">
								<label for="message-text" class="col-form-label">묵상할말씀</label>
								<textarea class="form-control" th:field="*{bible_contents}"
									id="bible_contents" style="background: #F4F4F2; resize:none; overflow:hidden;"></textarea>
							</div>
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">글제목</label>
								<input type="text" class="form-control"
									id="exampleFormControlInput1" th:field="*{title}" />
							</div>
							<div class="mb-3">
								<label for="exampleFormControlTextarea1" class="form-label">나의묵상</label>
								<textarea class="form-control" id="exampleFormControlTextarea1"
									rows="3" th:field="*{detail}"></textarea>
							</div>
						</div>
					</div>
					<div class="hstack">
						<div class="mx-auto my-3">
							<button type="submit"
								th:formaction="@{'/'+'post/view/' + ${postFormDto.id}}"
								class="btn btn-outline-secondary">수정하기-></button>
						</div>
						<div class="mx-auto my-3">
							<button type="button" class="btn btn-outline-secondary"
								onClick="location.href='/post/board'">목록보기-></button>
						</div>
						<div class="mx-auto my-3">
							<button type="button" class="btn btn-outline-secondary"
								th:value="${postFormDto.id}" onclick="deletePost(this.value)">삭제하기-></button>
						</div>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}">
				</form>
			</div>
		</section>
	</div>
</body>
</html>