<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Bible Project</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<div layout:fragment="content">
		<section>
			<div class="section_content">
				<div class="section_content_box container">
					<div class="hstack mt-5">
						<div class="m-1">
							<h3 class="mt-3 mb-3">검색한 말씀</h3>
						</div>
						<div class="search_area ms-auto">
							<form class="bibleSearch_frm hstack" method="get" action="/post/search">
								<div class="input-group my-auto">
									<input type="text" class="form-control"
										placeholder="(ex : 창세기 1:1-7)"
										aria-label="Recipient's username"
										aria-describedby="button-addon2"
										name="searchQuery" id="searchQuery">
									<button class="btn btn-outline-secondary" type="submit"
										id="button-addon2">입력</button>
								</div>
							</form>
						</div>
					</div>
					<div class="bible_read vstack border rounded-3">
						<input type="text" class="m-auto p-5" />
					</div>
					<div class="hstack">
						<button type="button"
							class="btn btn-outline-secondary ms-auto my-3"
							data-bs-toggle="modal" data-bs-target="#exampleModal"
							data-bs-whatever="@mdo">묵상하기-></button>
					</div>
					<form role="form" action="/post/write" method="post" th:object="${postwrite}" enctype="multipart/form-data" >
						<div class="modal fade" id="exampleModal" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-scrollable modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel">묵상하기
										</h1>
										<button type="button" class="btn-close"
											data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div class="mb-3">
											<label for="message-text" class="col-form-label">본문말씀</label>
											<input th:field="*{book}" class="form-control"
												id="message-text"></input>
										</div>
										<div class="mb-3">
											<label for="recipient-name" class="col-form-label">구분</label>
											<div class="hstack">
												<div class="form-check me-3">
													<input class="form-check-input" type="radio"
														name="category" id="flexRadioDefault1" value="*{category}"/><label
														class="form-check-label" for="flexRadioDefault1">
														구약 </label>
												</div>
												<div class="form-check me-auto">
													<input class="form-check-input" type="radio"
														name="category" id="flexRadioDefault2" value="*{category}" checked />
													<label class="form-check-label" for="flexRadioDefault2">
														신약 </label>
												</div>
											</div>
											<p th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="fieldError">Incorrect Data</p>
										</div>
										<div class="mb-3">
											<label for="recipient-name" class="col-form-label">글제목</label>
											<input type="text" class="form-control" id="recipient-name"
												th:field="*{title}"/ name="title">
										</div>
										<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError">Incorrect Data</p>
										<div class="mb-3">
											<label for="message-text" class="col-form-label">나의묵상</label>
											<textarea class="form-control" id="message-text"
												th:field="*{contents}" style="height: 400px" name="contents"></textarea>
										</div>
										<p th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}" class="fieldError">Incorrect Data</p>
										<div class="mb-3">
											<label for="formFile" class="form-label">이미지 업로드</label><input
												class="form-control" type="file" id="formFile" name="itemImgFile"/>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-secondary"
											data-bs-dismiss="modal">닫기</button>
										<input type="submit"
											class="btn btn-outline-secondary"/>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}">
					</form>
				</div>
			</div>
		</section>
	</div>
</body>
</html>